.footer_outer-counter {
  background-color: black;
  display: flex;
  color: gray;
  justify-content: center;
  padding-top: 10px;
}
.footer_inner_counter {
  width: 60%;
}
.footer_icons {
  width: 12%;
  display: flex;
  justify-content: space-between;
  /* margin-left: 10px; */
  color: white;
  margin-bottom: 10px;
  justify-content: center;
}
.footer_data {
  display: flex;
  justify-content: space-between;
}
.footer_data ul {
  list-style: none;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: space-around;
  height: 10vh;
}

.footer_data ul li {
  cursor: pointer;
}

.service_code {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: #fff 1px solid;
  width: 15%;
  margin: 10px 0;
  cursor: pointer;
}
.footer_icons ul {
  list-style: none;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  height: 4vh;
}
.copy_write {
  font-size: 12px;
  margin-bottom: 10px;
}
@media screen and (max-width: 576px) {
  .footer_outer_container {
    width: 100%;
  }
  .service_code {
    width: 100%;
    margin: 0;
  }
}
